body {
  text-align: center;
}

#content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  justify-content: center;
  width: 100%;
}

#meetings-content {
  padding: 50px 50px 50px 50px;
  margin: 0px 20px 20px 20px;
  border-radius: 7px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.panel {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  width: 30%;
  position: relative;
  /* border: 1px solid black; */
  border-radius: 7px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
}

.menu-panel {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  width: 40%;
  position: relative;
  border: 1px solid black;
  border-radius: 7px;
  top: 0;
  left: 0;
}

#meeting-group-display {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  justify-content: center;
  width: 100%;
}

.meeting-group-div {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.date-panel {
  margin: 5px 5px 5px 5px;
  padding: 0px 5px 0px 5px;
  position: relative;
  border: 1px solid black;
  top: 0;
  left: 0;
}

hr {
  width: 50%;
}
